name: Build
on:
  push:
    branches:
      - '**'

jobs:
  build:
    name: 'Build Source Code'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      ### Uncomment the step below if you want to be notified on Slack ###
      ### Just make sure your secrets are configured ###

      # - name: Notify Slack
      #   uses: 8398a7/action-slack@v3
      #   with:
      #     author_name: ${{ github.workflow }} by ${{ github.actor }}
      #     status: ${{ job.status }}
      #     mention: channel
      #     if_mention: failure,cancelled
      #     fields: message,commit,author,eventName,ref,workflow,job,took
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
      #   if: always() # Pick up events even if the job fails or is canceled.
